<form action="/answer" data-turbo="false">
  <label for="input">Ask your coach anything:</label>
  <div class="form-group row">
    <div class="col-auto">
      <input type="text" name="question" class="form-control">
    </div>
    <div class="col">
      <input type="submit" value="Ask!" class="btn btn-primary mb-2">
    </div>
  </div>
</form>
